
@import url('https://fonts.googleapis.com/css?family=Lobster+Two:700|Poppins&display=swap');
*{
  margin: 3% 7%;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #97DEFF;
  font-family: 'Poppins',sans-serif;
}
.logo{
    width: 10%;
    margin: 0px;
    margin-bottom: 0px;
}
.title{
    text-align: center;
    margin-top: 0px;
    font-family: 'lobster';
}
.form_container{
  background: #fff;
  padding: 30px;
  margin-top: 20px;
  border-radius: 3px;
}
.btn{
  margin-left: 80px;
}